html {
    height: 100%;
}

body {
    background-image: url('./assets/22.png');
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: auto;
}

.logo {
    width: 200px;
}

.containerLogo {
    width: 200px;
    margin: auto;
}

.conteudo {
    height: 500px;
    width: 355px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/Cabide\ de\ Ouro.png');
    margin: auto;
    position: relative;
}

.img-conteudo {
    width: 360px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon-face {
    background-attachment: fixed;
    position: absolute;
    bottom: 158px;
    left: 33px;
}

.icon-insta {
    position: absolute;
    bottom: 105px;
    left: 75px;
    }

.icon-troca {
    position: absolute;
    bottom: 190px;
    left: 112px;
}

.icon-site {
    position: absolute;
    bottom: 43px;
    left: 150px;
}

.icon-promocao {
    position: absolute;
    bottom: 195px;
    left: 204px;
}

.icon-whatsapp {
    position: absolute;
    bottom: 100px;
    left: 243px;
}

.icon-duvida {
    position: absolute;
    bottom: 160px;
    left: 289px;
}

.d-flex {
    display: flex;
}