html {
    height: 100%;
}

body {
    background-image: url('./assets/22.png');
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: auto;
}

.logo {
    width: 200px;
}

.containerLogo {
    width: 200px;
    margin: auto;
}

.conteudo {
    width: 100%;
    height: 500px;
    position: fixed;
}

.img-conteudo {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.icon-face {
    position: absolute;
    bottom: 165px;
    left: 36px;
    position: fixed;
}

.icon-insta {
    position: absolute;
    bottom: 120px;
    left: 80px;
    position: fixed;
    }

.icon-troca {
    position: absolute;
    bottom: 198px;
    left: 122px;
    position: fixed;
}

.icon-site {
    position: absolute;
    bottom: 50px;
    left: 161px;
    position: fixed;
}

.icon-promocao {
    position: absolute;
    bottom: 201px;
    left: 217px;
    position: fixed;
}

.icon-whatsapp {
    position: absolute;
    bottom: 120px;
    left: 257px;
    position: fixed;
}

.icon-duvida {
    position: absolute;
    bottom: 165px;
    left: 306px;
    position: fixed;
}